<li>
	<p>
	<% if user.id == current_user.id %>
		<%= image_tag current_user.avatar.url(:small) %>
		<%= link_to "You", current_user %>
	<% else %>
		<%= image_tag user.avatar.url(:small) %>
		<%= link_to user.name, user %>
	<% end %>	
	 grabbed <%= link_to "#{find_item(item)}", item_path(item) %></p>
	<div class="comments">
		<div class="comment-form">
		<% form_for current_user.comments.build(:activity_id => activity_id) do |f| %>	
			
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field  :activity_id, :value => activity_id %>
			
			<%= f.label :comment %>
			<%= f.text_field :comment %>
			
			<%= f.submit "Comment" %>
		<% end %>
		</div>
	</div>
</li>
