<li>
	<% item = find_item(item) %>
	<p>
	<% if user.id == current_user.id %>
		<%= image_tag current_user.avatar.url(:small) %>
		<%= link_to "You", current_user %>
	<% else %>
		<%= image_tag user.avatar.url(:small) %>
		<%= link_to user.name, user %>
	<% end %>	
	 grabbed <%= link_to "#{item.name}", item_path(item) %></p>
	<div class="comment-arrow-border"></div>
	<div class="comment-arrow"></div>
	<div class="comments">
		<%= render :partial => '/feed/comments_list', :locals => { :activity_id => activity_id } %>
		<%= render :partial => '/feed/comment_form', :locals => { :activity_id => activity_id } %>
	</div>
</li>
