<li>
	<% item = find_item(item) %>
	<p>
	<% if user.id == current_user.id %>
		<%= image_tag current_user.avatar.url(:small) %>
		<%= link_to "You", current_user %>
	<% else %>
		<%= image_tag user.avatar.url(:small) %>
		<%= link_to user.name, user %>
	<% end %>
	created <%= link_to item.name, item_path(item) %></p>
	<p class="item-description"><%= item.description %></p>
</li>