<li>
	<p>
	<% if user.id == current_user.id %>
		<%= image_tag current_user.avatar.url(:small) %>
		<%= link_to "You", current_user %>
	<% else %>
		<%= image_tag user.avatar.url(:small) %>
		<%= link_to user.name, user %>
	<% end %>
	created <%= link_to "#{find_item(item)}", item_path(item) %></p>
</li>