<li>
	<% review = find_review(review) %>
	<% item_review = find_review_item(review) %>
	<p>
	<% if user.id == current_user.id %>
		<%= image_tag current_user.avatar.url(:small) %>
		<%= link_to "You", current_user %>
	<% else %>
		<%= image_tag user.avatar.url(:small) %>
		<%= link_to user.name, user %>
	<% end %>
	<a class="review-link" href="<%= review_path(review) %>">reviewed</a> <%= link_to "#{item_review.name}", item_path(item_review) %></p>
	<span class="rating"><%= review.rating %> <%= "star".pluralize %></span>
	<p class="review-preview"><%= review.review %></p>
</li>