<li>
<div class="user-details">
	<div class="user-info">
		<h3><%= user.name %> (@<%= link_to "#{user.login}", user %>)</h3>
	</div>
	
	<div class="user-counts">
		<a href="#">
			<h4>Grabs</h4>
			<p><%= user.items.count %></p>
		</a>

		<a href="#">
			<h4>Following</h4>
			<p><%= '0' %></p>
		</a>

		<a href="#">
			<h4>Followers</h4>
			<p><%= '0' %></p>
		</a>
	</div>
</div>

<div class="user-action-buttons"></div>
</li>