<div class="user-details">
	<div class="user-info">
		<h3><%= link_to "#{user.name} (@#{user.login})", user %></h3>
	</div>
	
	<div class="user-counts">
		<a href="#">
			<h4>Grabs</h4>
			<p><%= user.items.count %></p>
		</a>

		<a href="<%= following_user_path(user) %>">
			<h4>Following</h4>
			<p><%= user.following.count %></p>
		</a>

		<a href="<%= followers_user_path(user) %>">
			<h4>Followers</h4>
			<p><%= user.followers.count %></p>
		</a>
	</div>
</div>

<div class="user-action-buttons">	
	
	<% if current_user.following?(user) %>
		<p>Following</p>
	<% elsif user.id == current_user.id %>
		<p>That's You</p>
	<% else %>
		<%= link_to "Follow" %>
	<% end %>
	
</div>