<h2>Add an Item</h2>


<% form_for @item do |item| %>

	<%= item.hidden_field :creator_id %>
	
	<%= item.hidden_field :barcode, :value => @barcode %>
	
	<p>
		<%= item.label :name, "Item Name" %><br />
		<%= item.text_field :name  %>
	</p>
	
	<p>
		<%= item.label :description %><br />
		<%= item.text_field :description  %>
	</p>
	
	<p>
		<p>Barcode</p>
		<%= @barcode %>
	</p>

	<%= submit_tag "Create!" %>

<% end %>