<h2>Add an Item</h2>


<% form_for :item do |i| %>

	<%= i.hidden_field :creator_id %>
	
	<%= i.hidden_field :barcode, :value => @barcode %>
	
	<p>
		<%= i.label :name, "Item Name" %><br />
		<%= i.text_field :name  %>
	</p>
	
	<p>
		<%= i.label :description %><br />
		<%= i.text_field :description  %>
	</p>
	
	<p>
		<p>Barcode</p>
		<%= @barcode %>
	</p>

	<%= submit_tag "Create!" %>

<% end %>