<div class="left-column">
	
	<h1><%= @item.name %></h1>

	<p><%= @item.description %></p>
	
	<%= render :partial => '/grabs/form', :locals => { :item => @item, :grab => @grab } %>
	
	<div class="reviews">
		
		<h2>Reviews</h2>
		
		<%= render :partial => '/reviews/form', :locals => { :item => @item, :review => @review } %>
		
		<%= render :partial => '/reviews/list', :locals => { :item => @item } %>
	
	</div><!-- end reviews -->
	
</div><!-- end left-column -->

<div class="right-column">
	
	<div class="grabbers">
		
		<h2>Grabbers</h2>
		
		<%= render :partial => '/grabs/list', :locals => { :item => @item } %>
	
	</div>
</div><!-- end right-column -->