<div class="left-column">
	
	<form>
		<input id="scan-button" type="buttom" onclick="scan();" value="Scan A New Item" />
	</form>
	
	<div class="activity-feed">
		
		<h2>Recently</h2>
		<ol>
		<% @activities.each do |activity| %>
			<% if @user.following.include?(activity.user) %>
				<%= show_feed_item(activity.user, activity.activity_type, activity.target_id, activity.id) %>
			<% end %>
			<% if activity.user == @user %>
				<%= show_feed_item(activity.user, activity.activity_type, activity.target_id, activity.id) %>
			<% end %>
			
		<% end %>
		</ol>
		
		<p id="paginate"><%= will_paginate @activities %></p>
		
	</div>
	
</div><!-- end left-column -->

<div class="right-column">
	
	<p>Welcome <%= @user.first_name %></p>
	
	<%= render :partial => '/users/following_list', :locals => { :user => @user } %>
	
	
	<div id="recent-grab-list">
		<h3>Total Items Grabbed (<%= @user.items.count %>)</h3>
	</div>
		
	<%= render :partial => '/users/reviews_list', :locals => { :user => @user } %>
	
</div><!-- end right-column -->