<div class="left-column">
	
	<form>
		<input id="scan-button" type="buttom" onclick="scan();" value="Scan A New Item" />
	</form>
	
	<div class="activity-feed">
		
		<h2>Recently</h2>
		
		<% @activities.each do |activity| %>
			<ol>
			<% if current_user.following.include?(activity.user) %>
				<%= show_feed_item(activity.user, activity.activity_type, activity.target_id) %>
			<% end %>
			<% if activity.user == current_user %>
				<%= show_feed_item(activity.user, activity.activity_type, activity.target_id) %>
			<% end %>
			</ol>
		<% end %>
		
		<%= will_paginate @activities %>
		
	</div>
	
</div><!-- end left-column -->

<div class="right-column">
	
	<p>Welcome <%= current_user.first_name %></p>
	
	<div id="user-following-list">
		
		<h3>Following (<%= current_user.following.count %>)</h3>
		<ul>
		<% current_user.following.each do |p| %>
			<li>
				<a href="<%= user_path(p) %>"><%= image_tag p.avatar.url(:small) %></a>
			</li>
		<% end %>
		</ul>
	</div>
	
	<div id="recent-grab-list">
		
		<h3>Recent Items (<%= current_user.items.count %>)</h3>
		<ul>
		<% current_user.items.each do |i| %>
			<li>
				<%= link_to "#{i.name}", item_path(i) %>
			</li>
		<% end %>
		</ul>
	</div>
	
</div><!-- end right-column -->