<!DOCTYPE html>
<html>
	<head>
		<title>Sweetzie</title>
		<%= stylesheet_link_tag 'reset' %>
		<%= stylesheet_link_tag 'site' %>
	</head>
	
	<body>
		<div id="container">
			<header>
				<h1><%= link_to "Sweetzie", root_url %></h1>
				<ul id="nav">
					<li><%= link_to_unless_current "People", people_path %></li>
					<li><%= link_to "Items" %></li>
					<% if logged_in? %>
						<li><%= link_to "Settings", settings_path %>
						<li><%= link_to "Logout", logout_path %></li>
					<% else %>
						<li><%= link_to "Login", login_path %></li>
					<% end %>
			</header>
			
			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% end %>
			<div id="content">
				<%= yield %>
			</div>
		</div>
	</body>
	
</html>