<!DOCTYPE html>
<html>
	<head>
		<title>Sweetzie</title>
		<%= stylesheet_link_tag 'reset' %>
		<%= stylesheet_link_tag 'site' %>
	</head>
	<body>
		<div id="container">
			<header>
				
				<h1><a href="<%= root_url %>">Sweetzie</a></h1>
				<ul>
					<li class="dropdown"><%= link_to "Users", users_path %>
						<ul>
							<li><%= link_to "Popular" %></li>
						</ul>
					</li>
					
					<li class="dropdown"><%= link_to "Items", items_path %>
						<ul>
							<li><%= link_to "Popular", items_path %></li>
						</ul>					
					</li>
					
					<% if logged_in? %>
						<li class="nav"><%= link_to "Settings", edit_user_path(current_user) %></li>
						<li class="nav"><%= link_to "Logout", logout_path %></li>
					<% else %>
						<li class="nav"><%= link_to "Login", login_path %></li>
					<% end %>
				</ul>
			</header>
			
			<% if flash[:notice] %>
				<p class="notice"><%= flash[:notice] %></p>
			<% end %>
			<div id="content">
				<%= yield %>
			</div>
		</div>
	</body>
	
</html>